table {
  width: 100%;
}
.table-row {
  height: 30px !important;
}
.mat-paginator-container {
  height: 36px !important;
  min-height: 36px !important;
  margin-bottom: 2px;
}
.highlightTableColor{
  background-color: lightgray
}

.searchButton {
  margin-bottom: 2px;
}
