<div id="footer" class="fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>My Bunker</h4>
                <!-- <p>
                    Some Address 987,<br />
                    +34 9054 5455, <br />
                    Madrid, Spain.
                </p> -->
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="#">Dribbble</a><br />
                    <a href="#">Twitter</a><br />
                    <a href="#">Facebook</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About</h4>
                <p>This Website is created with Angular 10 Framework. Free hosting on GitPages. Free source is best!</p>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>