/* Style for the sub-menu */
.submenu {
  display: none;
  position: absolute;
  background-color: #fff; /* Background color of the sub-menu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional box shadow */
  z-index: 1; /* Ensure sub-menu appears above other content */
  border-radius: 5px; /* Adjust the border radius as needed */
}
/*
/* Show sub-menu on hover */
.nav-item:hover .submenu {
  display: block;
}
